Flask
flask_limiter
gunicorn
plotly
pandas
requests
tqdm
Werkzeug
Flask-Caching
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-uploader==0.5.0
dash_daq
idna==2.8
itsdangerous==1.1.0
libarchive-c==2.8
python-dateutil==2.8.1
pytz==2019.3
pymzml==2.4.7
Pillow==8.3.2
matplotlib==3.4.1
Flask-Caching==1.10.1
scipy
pyteomics
psims
molmass
netcdf4
xmltodict
redis
joblib
beautifulsoup4
qrcode
pyarrow
celery==5.0.5
celery_once==3.0.1
