setuptools<81
Flask>2.0.0
flask_limiter
gunicorn
plotly
pandas>=2.1
requests
tqdm
Werkzeug
Flask-Caching
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash_daq
libarchive-c==2.8
Pillow>=9.0.1
Flask-Caching==1.10.1
scipy
pyteomics
pymzml==2.4.7
psims
molmass
netcdf4
xmltodict
redis
joblib
beautifulsoup4
qrcode
pyarrow
celery==5.2.2
celery_once==3.0.1
remotezip